{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
        <title>{{ current_rubric.name }} :: Доска объявлений</title> 
    </head>
    <body>
        
        <h2>{{ current_rubric }}</h2>
        
        <div>
            <a href="{% url 'index' %}">Главная</a> 
            <a href="{% url 'add' %}">Добавить объявление</a>
            {% for rubric in rubrics %}
            <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
            {% endfor %}
        </div>
        <br>
        <!--вывод объявлений по выбранной рубрике-->
        {% for bb in bbs %} 
        <div>
            <h3>{{ bb.title }} - {{ bb.price }} руб.</h3>
            <h6><em>(дата публикации: {{ bb.published|date:"d.m.Y H:i:s" }})</em></h6>
            <p>{{ bb.content }}</p>
            <em><p>{{ bb.contact }}</p></em>
            <br>
        </div>
        {% endfor %}
                      
        </div>
    </body>
</html>